[submodule "autoload"]
	path = autoload
	url = http://github.com/paulnicholson/vim-pathogen
    ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
    ignore = untracked
